<div class="banner banner-Head-p">
    <div class="banner-text">
      <h2>CAREERS</h2>
    </div>
</div>

<div class="container mt-2 mb-3">
    <h3 class="text-info">LEAVE US A NOTE</h3>
    <p>Please fill this for and I'll get back to you as soon as possible!</p>
    <div class="row">
        <div class="col-12 col-md-6">
            <label for="Fname">First Name:</label>
            <input id="Fname" class="form-control" type="text" placeholder="Enter First Name">
        </div>
        <div class="col-12 col-md-6">
            <label for="Lname">Last Name:</label>
            <input id="Lname" class="form-control" type="text" placeholder="Enter Last Name">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <label for="EmailId">Email-id:</label>
            <input id="EmailId" class="form-control" type="email" placeholder="Enter Email">
        </div>
        <div class="col-12 col-md-6">
            <label for="PhoneNo">Phone Number:</label>
            <input id="PhoneNo" class="form-control" type="number" placeholder="Phone Number">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <label for="Position">Position You Are Applying For:</label>
            <input id="Position" class="form-control" type="text" placeholder="Position You Are Applying For">
        </div>
        <div class="col-12 col-md-6">
            <label for="Resume">Upload Your Resume::</label>
            <input id="Resume" class="form-control" type="file" placeholder="Choose File">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Comments">Comment:</label>
            <textarea id="Comments" class="form-control" type="text" placeholder="Comments" rows="6"></textarea>
        </div>        
    </div>
    <div class="text-right m-3">
        <button class="btn btn-info">Send</button>
    </div>
</div>