<div class="banner banner-Head-p">
    <div class="banner-text">
      <h2>CONTACT US</h2>
    </div>
</div>

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-12 col-md-6">
            <h3>LEAVE US A NOTE</h3>
            <p>Please fill this for and I'll get back to you as soon as possible!</p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="UserName">Your name:</label>
                    <input id="UserName" class="form-control" type="text" placeholder="Enter Name">
                </div>
                <div class="col-12 col-md-6">
                    <label for="UserEmail">Email-id:</label>
                    <input id="UserEmail" class="form-control" type="email" placeholder="Enter Email">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="UserNumber">Phone number:</label>
                    <input id="UserNumber" class="form-control" type="number" placeholder="Phone Number">
                </div>
                <div class="col-12">
                    <label for="UserComment">Comment:</label>
                    <textarea id="UserComment" class="form-control" type="tet" placeholder="Comments" rows="5"></textarea>
                </div>                
            </div>
            <div class="text-right">
                <button class="btn btn-info mt-2">Send</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h3>REG OFFICE</h3>
            <address><label class="font-weight-bold">Address :</label> Lalapet, Malkajgiri, Secunderabad, Telangana 500047<br>
                <label class="font-weight-bold">Phone :</label> 040-27059688<br>
                <label class="font-weight-bold">Email :</label> contact@sherwyn.in</address>
            <hr/>
            <h3>LOCATE US</h3>
            <div>
                <img src="../../assets/img/loc2.PNG" style="width: 100%;">
            </div>
        </div>
    </div>
</div>