<div class="banner banner-Head-p">
    <div class="banner-text">
      <h2>DIVISIONS</h2>
    </div>
</div>

<div class="p-5">
    <h2 class="text-center">Products</h2>
</div>

<div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Aceclofenac-Hifenel-P.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Amoxycilin-Potassium.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Diclofenac.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Flunarizine-Tab.jpg" style="width: 100%;height: 80%;">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Flunarizine.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Flurowyn.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Gatifloxacin.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Loteprednol.jpg" style="width: 100%;height: 80%;">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Lubriwyn.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Montelukast-Sodium.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Moxifloxacin-eye-drops.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Moxifloxacin-eye-drops1.jpg" style="width: 100%;height: 80%;">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Moxifloxacin.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Nepafenac.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Pantopraxole.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Polyethylene-Glycol.jpg" style="width: 100%;height: 80%;">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Predwyn.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Shermox.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Tearwyn.jpg" style="width: 100%;height: 80%;">
      </div>
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Tropicaminde.jpg" style="width: 100%;height: 80%;">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <img src="../../assets/img/medicines/Vitamins.jpg" style="width: 100%;height: 80%;">
      </div>
    </div>
</div>

