<div class="banner banner-Head-p">
    <div class="banner-text">
      <h2>Who We Are</h2>
    </div>
</div>

<div class="P-md-5">
    <h3 class="text-center">ABOUT SHERWYN PHARMACEUTICALS</h3>
</div>

<div class="aboutText pl-md-5 pr-md-5">
    <p><b>"Sherwyn Pharmaceuticals Private Limited"</b> is a company who believes in innovation and building up a vision to satisfy and comfort the human health with motive of striving for the best in quality with keeping utmost attention towards the care of the people and making their lives happier with better future ahead.</p>
    <p>As an organization, we embark to reach each patients needs by giving the quality branded medicines which can ease and comfort their life and change them for better living. Our motto is “Innovating Healthy World.</p>
    <p>It is established on February 21, 2018 and is managed by three partners naming Naren, Rubiyana and Sateesh with the aim of striving to reach the customer satisfaction with giving the best service accordingly for a healthy interaction among us to achieve our goals.</p>
    <p>Our motto is to grow and expand the company to many parts of our country by giving the best service with equally balancing to suffice the customers and maintaining company aims and interest judiciously. Our purpose is, together as partners would seek structural growth as well as applying all the strategic elements that inspires and transforms a shift in viewpoint by creating a new world of healthy and nurturing life.</p>
</div>

<div class="loaction"></div>