.khasimSharifShaik{
    background-image: url("../../assets/img/h-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

.khasim{
    // background-image: url("../../assets/img/mobile_with_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sharif{
    // background-image: url("../../assets/img/mobile_with_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
}

.footer{
    background-color: #EBEBF8;
    height: auto;
}
.fotter2{
    background-color: #EBEBF8;
    height: auto;
}