<div class="khasimSharifShaik">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img class="d-none d-sm-none d-md-block" src="../../assets/img/logo.png" alt="" width="200px">
        <img class="d-md-none" src="../../assets/img/logo.png" width="150" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-light font-weight-bold" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/whoWeAre">Who We Are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"routerLink="/divisions">Division</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/contactUs" class="btn btn-light rounded text-dark font-weight-bold">Contact
              Us</a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-12 col-md-6 m-auto">
          <h3>Welcome to <br> Sherwyn Pharmaceutical</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime eos asperiores sunt delectus voluptates in!
            Libero officia rem eaque tenetur iusto impedit velit saepe? Laudantium inventore harum omnis vel? Adipisci!
          </p>
          <div class="mb-sm-5">
            <button class="btn btn-light projectBtn ">Download now</button>
            <button class="btn btn-link projectText text-weight-bold ">Explore more <img class="ml-2"
                src="../../assets/img/arrow_right.png" width="30"></button>
          </div>
      </div>
      <div class="col-12 col-md-6 d-none d-md-block">
        <img src="../../assets/img/mobile_img2.png" width="100%" >
      </div>
    </div>

  </div>
</div>
<br class="d-sm-block d-md-none">
<br class="d-sm-block d-md-none">

<!-- <div class="container ">
  <div class="row mt-sm-5">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6 text-center mt-sm-5" >
      <h1>Our Vision</h1>
      <p class="text-center text-justify ">When it comes to our Vision, it is simply defined as aspiring a healthy living with an intend to serve people with the best qualitative brands for the well-being of people and their satisfaction with perception to pursue their needs as required.</p>
    </div>
    <div class="col-12 col-md-3"></div>
  </div>
</div> -->

<section class="row p-0 m-0">
  <div class="col-12 col-md-6 p-0 ">
    <div class="d-none d-sm-none d-md-block">
      <img src="../../assets/img/mobile_with_back_left.png" width="100%">
    </div>
  </div>
  <div class="col-12 col-md-6 m-auto">
    <div class="container m-auto">
      <h1>Our Vision</h1>
      <p class="text-justify projectText">When it comes to our Vision, it is simply defined as aspiring a healthy living with an intend to serve people with the best qualitative brands for the well-being of people and their satisfaction with perception to pursue their needs as required.</p>
      <button class="btn btn-light projectText projectBtn">get more <img class="ml-2"
          src="../../assets/img/arrow_right.png" width="30"></button>
    </div>
  </div>
</section>

<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6" fxLayout="column" fxLayoutAlign="center center">
      <h1>Our Mission</h1>
      <p class="text-center text-justify ">When it comes to Mission, it is a purpose of starting a new beginning with inspiring people for a better living. It is an orientation of work done by us with a mission to accomplish the admirable tomorrow.</p>
    </div>
    <div class="col-12 col-md-3"></div>
  </div>
</div> -->

<section class="row p-0 m-0">
  <div class="col-12 col-md-6 m-auto">
    <div class="container m-auto ml-md-5 ">
      <h1>Our Mission</h1>
      <p class="text-left pr-md-5">When it comes to Mission, it is a purpose of starting a new beginning with inspiring people for a better living. It is an orientation of work done by us with a mission to accomplish the admirable tomorrow.</p>
      <button class="btn btn-light projectText projectBtn" >get more <img class="ml-2" src="../../assets/img/arrow_right.png" width="30"></button>
    </div>      
  </div>
  <div class="col-12 col-md-6 p-0 ">
    <div class="d-none d-sm-none d-md-block">
      <img src="../../assets/img/mobile_with_back_right.png" width="100%">
    </div>      
  </div>
</section>

<div class="container">
  <h3 class="text-center">ABOUT SHERWYN PHARMACEUTICALS</h3>
  <!-- <p  class="container ">
    "Sherwyn Pharmaceuticals Private Limited" is a company who believes in innovation and building up a vision to satisfy and comfort the human health with motive of striving for the best in quality with keeping utmost attention towards the care of the people and making their lives happier with better future ahead.

    As an organization, we embark to reach each patients needs by giving the quality branded medicines which can ease and comfort their life and change them for better living. Our motto is “Innovating Healthy World.

    It is established on February 21, 2018 and is managed by three partners naming Naren, Rubiyana and Sateesh with the aim of striving to reach the customer satisfaction with giving the best service accordingly for a healthy interaction among us to achieve our goals.

    Our motto is to grow and expand the company to many parts of our country by giving the best service with equally balancing to suffice the customers and maintaining company aims and interest judiciously. Our purpose is, together as partners would seek structural growth as well as applying all the strategic elements that inspires and transforms a shift in viewpoint by creating a new world of healthy and nurturing life.
  </p> -->
  <p><b>"Sherwyn Pharmaceuticals Private Limited"</b> is a company who believes in innovation and building up a vision to satisfy and comfort the human health with motive of striving for the best in quality with keeping utmost attention towards the care of the people and making their lives happier with better future ahead.</p>
  <p>As an organization, we embark to reach each patients needs by giving the quality branded medicines which can ease and comfort their life and change them for better living. Our motto is “Innovating Healthy World.</p>
  <p>It is established on February 21, 2018 and is managed by three partners naming Naren, Rubiyana and Sateesh with the aim of striving to reach the customer satisfaction with giving the best service accordingly for a healthy interaction among us to achieve our goals.</p>
  <p>Our motto is to grow and expand the company to many parts of our country by giving the best service with equally balancing to suffice the customers and maintaining company aims and interest judiciously. Our purpose is, together as partners would seek structural growth as well as applying all the strategic elements that inspires and transforms a shift in viewpoint by creating a new world of healthy and nurturing life.</p>

</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6" fxLayout="column" fxLayoutAlign="center center">
      <h1>Our Portfolio</h1>
      <p class="text-center text-justify ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nemo sed accusantium esse nam voluptate error cupiditate velit exercitationem laudantium itaque neque cumque incidunt dolor sunt, veritatis perferendis possimus rerum.</p>
    </div>
    <div class="col-12 col-md-3"></div>
  </div>
</div> -->

<!-- <div>
  <img src="../../assets/img/Our Portfolio2.png" width="100%">
</div> -->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <h2>Our Client feedBack</h2>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum impedit voluptas quas architecto rem molestias provident temporibus minus, aliquam eius fugit beatae blanditiis perspiciatis similique nobis ut doloribus quasi? Tenetur.</p>
    </div>
    <div class="col-12 col-md-5 m-md-auto">
      <button class="btn btn-light projectText projectBtn float-md-right" >get more <img class="ml-2" src="../../assets/img/arrow_right.png" width="30"></button>
    </div>
  </div>
  <img class="mt-3" src="../../assets/img/Our Client Feedback.png" width="100%">
</div>


<div class="container mt-md-3 mb-md-3" style="width: 70%;background-color: #333697;border-radius: 12px;position: relative;top: 100px;">
  <div class="row p-4 ">
      <div class="col-12 col-md-6 text-light ">
        <h3>Contact Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nulla magni eaque architecto qui labore nobis mollitia fugit</p>
      </div>
      <div class="col-12 col-md-6 m-md-auto ">
        <div class="input-group mb-3 bg-light" style="border-radius: 25px;">
          <input type="text" class="form-control border-0" style="border-radius: 25px;" placeholder="Email here" >
          <div class="input-group-append p-2 " >
            <button class="btn text-light font-weight-bold" style="border-radius: 25px;background-color: #333697;" type="button">Send</button>
          </div>
        </div>
      </div>
  </div> 
</div>

<div class="footer d-none d-md-block">
 
  <div class="pt-md-5" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="mt-md-5 p-2" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start">
        <label>Home</label>
        <label>About</label>
        <label>Services</label>
        <label>Process</label>
      </div>  
      <div class="mt-md-5 p-2" fxLayout="row" fxLayoutAlign="start">
        <!-- <iframe src="https://goo.gl/maps/8p5PaJu3XN548t3bA" style="border-radius: 10px;"
          title="Iframe Example"></iframe>  -->
          <!-- <img src="../../assets/img/loc2.PNG" width="40%" style="border-radius: 10px;"> -->
      </div>  
    </div>
    
    <div class="mt-md-5 p-2" fxLayout="column" fxLayoutAlign="start">
      <p class="text-left font-weight-bold">Links</p>
      <label>HOME</label>
      <label>Who We Are</label>
      <label>Divisions</label>
      <label>Careers</label>
    </div>
    <div class="mt-md-5 p-2" fxLayout="column" fxLayoutAlign="start">
      <p class="text-left font-weight-bold">Support</p>
      <label>FAQ</label>
      <label>How It Work</label>
      <label>Features</label>
      <label>Contact</label>
      <label>Reporting</label>
    </div>
    <div class="mt-md-5 p-2" fxLayout="column" fxLayoutAlign="start">
      <p class="text-left font-weight-bold">Contact Us</p>
      <label>040-27059688</label>
      <label>contact@sherwyn.in</label>
    </div>
  </div>  
  <hr>
  <div class="text-center">
    Copyright © 2021 Sherwyn Pharmaceuticals. All Rights Reserved
  </div>  
</div>
<div class="fotter2 pt-5  d-sm-block d-md-none">
 <div class="pt-5">
  <hr>
  <div class="text-center">
    Copyright © 2021 Sherwyn Pharmaceuticals. All Rights Reserved
  </div> 
 </div>
</div>
